[submodule "server_front_end"]
	path = server_front_end
	url = ./server_front_end/
[submodule "serverFrontEnd"]
	path = serverFrontEnd
	url = git@github.com:PhyrridChan/FrontEnd_SpotifyRecommendSystem.git
